<!DOCTYPE html>
<html>
  <head>
    <title> Video Game Recommender </title>
    <link type="text/css" rel="stylesheet" href="css/style.css"> 
  </head>
  <body>
    <p class="results_title"> <u> <%=@name%> </u> </p>
    <div class="results_pictures"><img class="results_image" src="<%=@picture%>"></div>
    <p class="results_rating"> <%=@rating%> </p>
    <p> <%=@nwebsite%> </p>
    <p class="results_trailer"> <%=@trailer%> </p>
    <p id="made_by"> Made by Toky and Milan </p>
  </body> 
</html>